<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Form to create a new entry -->
    <form method="post" action="{% url 'create' %}">
        {% csrf_token %}
        Name: <input type="text" name="companyName"><br>
        Price: <input type="text" name="price"><br>
        Added: <input type="text" name="added"><br>
        Change: <input type="text" name="change"><br>
        ChangePer: <input type="text" name="changePer"><br>
        Movement: <input type="text" name="movement"><br>
        <input type="submit" value="Create">
    </form>

</body>
</html>